In [1]:
import pandas as pd
import json
import geopandas as gpd
import numpy as np
import matplotlib.pyplot as plt
import pygal

In [2]:
with open('countries_visits_2023_01.json','r') as f:
    data = json.load(f)

In [3]:
items = data['items']
print(len(items))

1

In [4]:
item = items[0]
item

print(item.keys())

dict_keys(['project', 'access', 'year', 'month', 'countries'])

In [5]:
project = item['project']

In [6]:
access = item['access']

In [7]:
year = item['year']

In [8]:
month = item['month']

In [9]:
countries = item['countries']

In [10]:
len(countries)

241

In [11]:
!pip install cairosvg

Requirement already satisfied: cairosvg in /home/radu/PycharmProjects/upb-big-data-wikipedia-visualisation/venv/lib/python3.13/site-packages (2.7.1)
Requirement already satisfied: cairocffi in /home/radu/PycharmProjects/upb-big-data-wikipedia-visualisation/venv/lib/python3.13/site-packages (from cairosvg) (1.7.1)
Requirement already satisfied: cssselect2 in /home/radu/PycharmProjects/upb-big-data-wikipedia-visualisation/venv/lib/python3.13/site-packages (from cairosvg) (0.7.0)
Requirement already satisfied: defusedxml in /home/radu/PycharmProjects/upb-big-data-wikipedia-visualisation/venv/lib/python3.13/site-packages (from cairosvg) (0.7.1)
Requirement already satisfied: pillow in /home/radu/PycharmProjects/upb-big-data-wikipedia-visualisation/venv/lib/python3.13/site-packages (from cairosvg) (11.1.0)
Requirement already satisfied: tinycss2 in /home/radu/PycharmProjects/upb-big-data-wikipedia-visualisation/venv/lib/python3.13/site-packages (from cairosvg) (1.4.0)
Requirement already satisfied: cffi>=1.1.0 in /home/radu/PycharmProjects/upb-big-data-wikipedia-visualisation/venv/lib/python3.13/site-packages (from cairocffi->cairosvg) (1.17.1)
Requirement already satisfied: webencodings in /home/radu/PycharmProjects/upb-big-data-wikipedia-visualisation/venv/lib/python3.13/site-packages (from cssselect2->cairosvg) (0.5.1)
Requirement already satisfied: pycparser in /home/radu/PycharmProjects/upb-big-data-wikipedia-visualisation/venv/lib/python3.13/site-packages (from cffi>=1.1.0->cairocffi->cairosvg) (2.22)

In [12]:
df = pd.DataFrame.from_dict(countries)
df.head(200)

    country                  views  rank  views_ceil
0        US  1000000000-9999999999     1  3194571000
1        GB    100000000-999999999     2   883167000
2        IN    100000000-999999999     3   734491000
3        CA    100000000-999999999     4   386835000
4        AU    100000000-999999999     5   240218000
..      ...                    ...   ...         ...
195      MP          100000-999999   196      111000
196      GA          100000-999999   197      111000
197      BI          100000-999999   198      109000
198      NE          100000-999999   199      101000
199      CG            10000-99999   200       92000

[200 rows x 4 columns]

In [13]:
df.to_csv('countries.csv', index=False)

df

    country                  views  rank  views_ceil
0        US  1000000000-9999999999     1  3194571000
1        GB    100000000-999999999     2   883167000
2        IN    100000000-999999999     3   734491000
3        CA    100000000-999999999     4   386835000
4        AU    100000000-999999999     5   240218000
..      ...                    ...   ...         ...
236      CX                100-999   237        1000
237      NU                100-999   238        1000
238      TK                100-999   239        1000
239      KP                100-999   240        1000
240      SJ                100-999   241        1000

[241 rows x 4 columns]

In [14]:
df['views_min'] = df.apply(lambda row: int(row.views.split('-')[0]), axis = 1)
views_min =df.copy()

views_min.to_csv('countries_with_minimum_views.csv', index=False)

In [15]:
df.to_csv('countries_with_minimum_views.csv', index=False)

In [16]:
worldmap =  pygal.maps.world.World()
worldmap.title = 'Countries'
  
# adding the countries 
# worldmap.add('Wikipedia views', {key.lower() : int(value) for key,value in zip(df['country'],df['views_ceil'])})

In [17]:
df['views_ceil']

0      3194571000
1       883167000
2       734491000
3       386835000
4       240218000
          ...
236          1000
237          1000
238          1000
239          1000
240          1000
Name: views_ceil, Length: 241, dtype: int64

In [18]:
old_min = min(df['views_ceil'])
old_max = max(df['views_ceil'])

In [19]:
print(old_min, old_max)

1000 3194571000

In [20]:
def normalize(value, old_min, old_max, new_min=1, new_max=100):
    return ((value - old_min)/(old_max - new_max)) * (new_max-new_min) + new_min

intervals = set(df['views_min'])
normalized_colors = [np.int64(normalize(value, old_min, old_max)) for value in df['views_min']]

intervals = sorted(intervals)
colors = []
for i, _ in enumerate(intervals):
    colors.append(i + 1)


print(colors)
color_map = {k:v for k,v in zip(intervals, colors)}

print(color_map)

mapped_colors = [color_map[each] for each in df['views_min']]

print(mapped_colors)

country_views = {key.lower() : int(value) for key, value in zip(df['country'], mapped_colors)}

print(country_views)

[1, 2, 3, 4, 5, 6, 7, 8]
{100: 1, 1000: 2, 10000: 3, 100000: 4, 1000000: 5, 10000000: 6, 100000000: 7, 1000000000: 8}
[8, 7, 7, 7, 7, 7, 7, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1]
{'us': 8, 'gb': 7, 'in': 7, 'ca': 7, 'au': 7, 'de': 7, 'ph': 7, 'nl': 6, 'id': 6, 'fr': 6, 'ir': 6, 'it': 6, 'my': 6, 'ie': 6, 'br': 6, 'se': 6, 'pl': 6, 'sg': 6, 'za': 6, 'nz': 6, 'es': 6, 'pk': 6, 'ru': 6, 'jp': 6, 'fi': 6, 'ng': 6, 'mx': 6, 'tr': 6, 'bd': 6, 'ro': 6, 'gr': 6, 'be': 6, 'th': 6, 'no': 6, 'dk': 6, 'hk': 6, 'ae': 6, 'ch': 6, 'il': 6, 'hu': 6, 'rs': 6, 'cz': 6, 'pt': 6, 'vn': 6, 'kr': 6, 'at': 6, 'hr': 6, 'sa': 6, 'bg': 6, 'eg': 6, 'tw': 6, 'ar': 6, 'ua': 6, 'ke': 6, 'lk': 6, 'np': 6, 'sk': 6, 'cl': 6, 'co': 6, 'si': 6, 'lt': 5, 'ee': 5, 'ma': 5, 'gh': 5, 'pe': 5, 'ba': 5, 'ge': 5, 'lv': 5, 'iq': 5, 'mk': 5, 'pr': 5, 'qa': 5, 'dz': 5, 'et': 5, 'kz': 5, 'az': 5, 'tz': 5, 'kw': 5, 'mm': 5, 'cy': 5, 'is': 5, 'al': 5, 've': 5, 'kh': 5, 'lb': 5, 'cr': 5, 'mt': 5, '--': 5, 'do': 5, 'ug': 5, 'tn': 5, 'jo': 5, 'tt': 5, 'uz': 5, 'lu': 5, 'jm': 5, 'by': 5, 'am': 5, 'ec': 5, 'bh': 5, 'om': 5, 'mu': 5, 'uy': 5, 'md': 5, 'pa': 5, 'mn': 5, 'me': 5, 'zm': 5, 'xk': 5, 'gt': 5, 'zw': 5, 'bn': 5, 'sd': 5, 'bo': 5, 'hn': 5, 'mv': 5, 'cm': 5, 'sv': 5, 'so': 5, 'je': 5, 'bs': 5, 'im': 5, 'py': 5, 'ly': 5, 'bb': 5, 'rw': 5, 'ps': 5, 'na': 4, 'kg': 4, 'bw': 4, 'af': 4, 'mw': 4, 'ao': 4, 'gy': 4, 'ni': 4, 'sy': 4, 'lr': 4, 'ye': 4, 'mo': 4, 'fj': 4, 'sl': 4, 'ci': 4, 'cd': 4, 'cu': 4, 'gu': 4, 'gg': 4, 'sn': 4, 'mz': 4, 'la': 4, 'tm': 4, 'cn': 4, 'sr': 4, 'sc': 4, 'bz': 4, 'pg': 4, 'ky': 4, 'aw': 4, 'bt': 4, 'bm': 4, 'fo': 4, 'cw': 4, 'mg': 4, 'lc': 4, 'gi': 4, 'vi': 4, 'bj': 4, 'ss': 4, 'ht': 4, 'gm': 4, 're': 4, 'gd': 4, 'tj': 4, 'ag': 4, 'ls': 4, 'tg': 4, 'sz': 4, 'cv': 4, 'vc': 4, 'ml': 4, 'mc': 4, 'ad': 4, 'mr': 4, 'gn': 4, 'ax': 4, 'kn': 4, 'tc': 4, 'bf': 4, 'gp': 4, 'dj': 4, 'sx': 4, 'dm': 4, 'vg': 4, 'gl': 4, 'mq': 4, 'pf': 4, 'mp': 4, 'ga': 4, 'bi': 4, 'ne': 4, 'cg': 3, 'li': 3, 'vu': 3, 'nc': 3, 'bq': 3, 'sb': 3, 'tl': 3, 'ws': 3, 'gf': 3, 'ai': 3, 'mf': 3, 'td': 3, 'sm': 3, 'as': 3, 'gq': 3, 'pw': 3, 'er': 3, 'fk': 3, 'to': 3, 'ck': 3, 'gw': 3, 'fm': 3, 'mh': 3, 'bl': 3, 'yt': 3, 'cf': 3, 'km': 3, 'nr': 3, 'ki': 3, 'ms': 3, 'va': 3, 'io': 2, 'st': 2, 'pm': 2, 'nf': 2, 'tv': 2, 'wf': 1, 'cx': 1, 'nu': 1, 'tk': 1, 'kp': 1, 'sj': 1}

In [21]:
worldmap.add("wikipedia views", country_views)
worldmap.render_to_file('harta.svg')

In [22]:
worldmap.render_to_file('harta.jpg')